@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 29, 29);
    color: aliceblue;
    overflow-x: hidden;
}

nav li {
    padding: 12px;
}

.hero {
    background-image: url('./assets/hero.jpg');
}

button:hover {
    background-color: brown;
    transition: 1000ms;
}